<h1>Demostrators Page</h1>
List of Available Demonstrators

<hr/>
<table border="1">
	<tr>
		<th>First Name</th> 
		<th>Last Name</th>
		<th>Student Number</th>
		<th>ICAM Number</th>
		</tr>
		
		<%for member in @members %>
		<tr>
			<td><%= member.First_name %></td>
			<td><%= member.Last_Name %></td>
			<td><%= member.ICAM_Number %></td>
			
		</tr>
</table>
